.modal-width-custom {
  width: 50%;
}
.custom-avatar .avatar {
  background-color: #3f51b5;
}



@media only screen and (max-width: 450px) {
  .form-explain{
    line-height: 10px !important;
    font-size: 10px !important;
  }
  .dialog-content{
    padding: 1rem !important;
  }
}